/* VisualVision iPer CSS */

/* [no style] */
DIV.s0 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s0 {
	color:#0000FF;
	}
/* [no style intab] */
DIV.s1 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:0mm;
	margin-right:0mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s1 {
	color:#0000FF;
	}
/* [no style] 1 */
DIV.s2 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s2 {
	color:#0000FF;
	}
/* [no style intab] 1 */
DIV.s3 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:0mm;
	margin-right:0mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s3 {
	color:#0000FF;
	}
/* [no style] 2 */
DIV.s4 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s4 {
	color:#0000FF;
	}
/* [no style] 3 */
DIV.s5 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s5 {
	color:#0000FF;
	}
/* [no style] 4 */
DIV.s6 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s6 {
	color:#0000FF;
	}
/* [no style] 5 */
DIV.s7 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s7 {
	color:#0000FF;
	}
/* [no style] 6 */
DIV.s8 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s8 {
	color:#0000FF;
	}
/* Normal */
DIV.s9 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s9 {
	color:#0000FF;
	}
/* [no style] 7 */
DIV.s10 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s10 {
	color:#0000FF;
	}
/* [no style intab] 2 */
DIV.s11 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:0mm;
	margin-right:0mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s11 {
	color:#0000FF;
	}
/* Definition List */
DIV.s12 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:6mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s12 {
	color:#0000FF;
	}
/* H1 */
DIV.s13 {
	font-family:"Arial";
	font-size:24pt;
	color:#000000;
	font-weight:bold;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s13 {
	color:#0000FF;
	}
/* H2 */
DIV.s14 {
	font-family:"Arial";
	font-size:18pt;
	color:#000000;
	font-weight:bold;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s14 {
	color:#0000FF;
	}
/* H3 */
DIV.s15 {
	font-family:"Arial";
	font-size:14pt;
	color:#000000;
	font-weight:bold;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s15 {
	color:#0000FF;
	}
/* H4 */
DIV.s16 {
	font-family:"Arial";
	font-size:12pt;
	color:#000000;
	font-weight:bold;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s16 {
	color:#0000FF;
	}
/* H5 */
DIV.s17 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	font-weight:bold;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s17 {
	color:#0000FF;
	}
/* H6 */
DIV.s18 {
	font-family:"Arial";
	font-size:8pt;
	color:#000000;
	font-weight:bold;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s18 {
	color:#0000FF;
	}
/* Address */
DIV.s19 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	font-style:italic;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s19 {
	color:#0000FF;
	}
/* Blockquote */
DIV.s20 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:6mm;
	margin-right:6mm;
	margin-top:2mm;
	margin-bottom:2mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s20 {
	color:#0000FF;
	}
/* z-Bottom of Form */
DIV.s21 {
	font-family:"Arial";
	font-size:8pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:center;
	list-style-type:none;	}
A.s21 {
	color:#0000FF;
	}
/* z-Top of Form */
DIV.s22 {
	font-family:"Arial";
	font-size:8pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:center;
	list-style-type:none;	}
A.s22 {
	color:#0000FF;
	}
/* [no style] 8 */
DIV.s23 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s23 {
	color:#0000FF;
	}
/* [no style] 9 */
DIV.s24 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s24 {
	color:#0000FF;
	}
/* [no style] 10 */
DIV.s25 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s25 {
	color:#0000FF;
	}
/* [no style] 11 */
DIV.s26 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s26 {
	color:#0000FF;
	}
/* [no style] 12 */
DIV.s27 {
	font-family:"Arial";
	font-size:10pt;
	color:#000000;
	margin-left:3mm;
	margin-right:3mm;
	margin-top:0mm;
	margin-bottom:0mm;
	text-indent:0mm;
	text-align:left;
	list-style-type:none;	}
A.s27 {
	color:#0000FF;
	}
